/* RESETS */
body, h1, ul, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
.header {
    padding: 10px;
}

.top-name {
    padding-left: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

/* TOP NAV BAR */
.top-nav {
    font-size: 12px;
    display: block;
}

.top-nav a {
    text-decoration: none;
    color: #69696a;
}

.main-nav {
    list-style-type: none;
    padding: 10px 20px 10px 10px;
    display: block;
}

.button-top {
    display: block;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

/* MAIN CONTENT */
.main-content {
    padding: 20px;
}
.main-chirp {
    padding-bottom: 20px;
}

.lorem {
    border-left: 3px solid #696969;
    padding-left: 10px;
}

/* FOOTER */
.footer {
    position: fixed;
    background-color: rgba(247, 193, 162, 0.7);
    width: 100%;
    padding: 10px;
    bottom: 0px;
    /* display: inline-block; */
}
.bottom-name {
    text-decoration: none;
    color: #000;
}

.bottom-nav {
    float: right;
    
} 
.footer-links {
    padding: 10px;
    list-style-type: none;
    margin: 10px;
    
}

.footer-links a {
    text-decoration: none;
    color: #69696a;
    
}
.nav-item {
    display: inline-block;
    
}

